Workflows/Workflow Manual.json
{
  "name": "Workflow Manual",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ef1be1af-4e9d-4ed1-a567-a46a1fcea52a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.stat4decision.com/fr/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -16
      ],
      "id": "26d0d4b3-000a-4028-9402-b11f110ff158",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://blog.octo.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -160
      ],
      "id": "3dfe0905-49d6-4565-a2a2-646a66caf500",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -416
      ],
      "id": "3cdf4348-321c-4290-b957-c1a0530cc08f",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -288
      ],
      "id": "59866841-a874-444a-9cc6-3515f44245c4",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://towardsdatascience.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -544
      ],
      "id": "7d4f357a-5215-4c38-8d01-0fecf9011404",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -256
      ],
      "id": "102aa377-6e28-4e8b-9ff1-3abfa7defed2",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0f22a20-56ee-4e9e-a564-7e5e93ccc920",
              "name": "=title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b558f708-20c1-4b39-a061-accb6e4a1363",
              "name": "=link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "5895bebd-2f39-44d3-95d3-7ee445a14aa4",
              "name": "=auteur",
              "value": "={{ $json.author || $json.creator }}",
              "type": "string"
            },
            {
              "id": "8de88332-5a47-4196-8a39-470d39f9496b",
              "name": "=date",
              "value": "={{ new Date($json.isoDate || $json.pubDate).toLocaleDateString('fr-FR') }}",
              "type": "string"
            },
            {
              "id": "9d9414a9-6868-40d0-b90e-eef7b08f2ac7",
              "name": "contenu",
              "value": "={{ $json.contentSnippet}}",
              "type": "string"
            },
            {
              "id": "624ef63e-6a03-4c32-a8fd-f96fae0bc8d7",
              "name": "source",
              "value": "={{ $json.feedTitle || $json.link.split('/')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -208
      ],
      "id": "caab56cd-e3b8-4e9e-8eaf-12d81a8bf8d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    embeds: [{\n      title: (item.json.title || \"Sans titre\").substring(0, 256),\n      url: item.json.link || null,\n      color: 5814783,\n      fields: [\n        { \n          name: \"Auteur\", \n          value: item.json.auteur || \"Inconnu\", \n          inline: true \n        },\n        {\n          name: \"Article\",\n          value: (item.json.contenu || \"Inconnu\").substring(0, 1024),\n          inline: true\n        },\n        {\n          name: \"Source\",\n          value: item.json.source || \"Inconnue\",\n          inline: true\n        },\n        {\n          name: \"Date\",\n          value: item.json.date || \"Inconnue\",\n          inline: true\n        }\n      ],\n    }]\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -208
      ],
      "id": "f6a3b34f-36ea-4ca3-860c-df50c904f887",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(Date.now() - 1 * 24 * 60 * 60 * 1000);\nconsole.log('Cutoff (il y a 24h):', cutoff.toISOString());\n\nconst kept = [];\nfor (const item of $input.all()) {\n  const pub = item.json.pubDate || item.json.isoDate || '';\n  if (!pub) continue;\n  \n  try {\n    const dt = new Date(pub);\n    console.log('Article:', item.json.title, '| Date:', dt.toISOString(), '| Gardé:', dt > cutoff);\n    if (dt > cutoff) {\n      kept.push(item);\n    }\n  } catch(e) {\n    continue;\n  }\n}\n\nconsole.log('Total gardés:', kept.length);\nreturn kept;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -208
      ],
      "id": "a93401bf-a653-4121-8af6-0e7c1e8a57f6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1478682691892154408/obt9DD29BR08mZEibq6y5b-R45YK_IFHrHWhwurlsuxHSwWoM3qTCwNHjdWDdyGsTnzl",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": "={{ $json.embeds }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        -208
      ],
      "id": "264a182a-e182-488f-b082-66500332b5d1",
      "name": "HTTP Request",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -208
      ],
      "id": "d35b2ee5-543f-4eed-9ccd-7545a147c26c",
      "name": "Wait",
      "webhookId": "97d7a2d5-05f5-4532-ab2e-252cb71c7a15"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1328,
        -208
      ],
      "id": "de004584-b791-48df-94d1-17496f40622d",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c6e756ed-f5dd-4fd3-8b9d-92be2064bced",
  "meta": {
    "instanceId": "af4ee9978281459a5fcec1fa1947beb4ebe89515b8416661991badc2ee7efb59"
  },
  "id": "RulcGZB4Bd4FfYjs",
  "tags": []
}